* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  font-family: "微软雅黑", "苹方", sans-serif;
  font-size: 1vmin;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* 修改为列方向以便倒计时和文本垂直排列 */
}

.my-background{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("../res/img/nightsky.jpg");
  background-size: cover;
  z-index: -99;
}

.countdown {
  font-size: 6vmin; /* 调整字体大小为适中 */
  color: white; /* 纯白色文字 */
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; /* 添加描边效果 */
  background: none; /* 删除渐变背景 */
  animation: none; /* 移除渐变动画 */
  margin-bottom: 20px; /* 调整底部间距 */
}
